/*-----------
    Reset
------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Common
------------*/
.container {
    max-width: 1000px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*-----------
    Main
------------*/

.row:not(:last-child) {
    margin-bottom: 40px;
}

.col {
    float: left;
    width: calc( 100% / 3);
    padding: 0 4px;
}

.product-image {
    position: relative;
}
.product img {
    width: 100%;
    display: block;
}
.product-tags {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.product-tags:hover {
    opacity: 0;
}
.product-tag {
    display: inline-block;
    color: #fff;
    background-color: green;
    padding: 4px;
}
.product-tag-red {
    background-color: red;
}

.product-wishlist {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.product-description {
    margin-top: 10px;
}
.product-description h3 {
    text-transform: uppercase;
}

.price-discount {
    color: red;
}

.product .product-img-2 {
    display: none;
}

.product:hover .product-img-1 {
    display: none;
}
.product:hover .product-img-2 {
    display: block;
}